body {
  padding-top: 70px;  /* Move body of page below navbar. */
}

.page-content {
  padding: 10px;
/*  text-align: center; */
  text-align: center;
}

img {
  float: left;
  margin-right: 10px;
}
